<div class="cell">
	<h3>Editing Game Session</h3>
</div>
<div>
<%= render 'form', game_session: @game_session %>
</div>
<div class="cell">
<%= link_to 'Show', @game_session %> |
<%= link_to 'Back', game_sessions_path %>
</div>
